<%-include header%>
<div class="page" style="width: 900px; margin-top: 40px; margin-bottom: 40px; padding-left: 20px; padding-right: 20px; background-color: #CBCCCC;">
    <div class="page-header" style="border-bottom: 1px #2D89EF solid; padding-bottom: 20px;">
        <div class="page-header-content">
            <h1><%= post.title %></h1>
        </div>
    </div>
    <div class="page-region" style="padding-top: 20px;">
        <div class="page-region-content">
            <div style="border-bottom: 1px #2D89EF solid;">
                <%- post.content %>
            </div>
            <div class="span5">
                Author: <a href="/u/<%= post.name %>"><%= post.name %></a>
                <br />
                Date: <%= post.time.minute %>
                <br />
                Views: <%= post.views %>
                <br />
                Tags:
                <% post.tags.forEach(function(tag, index){ %>
                <% if(tag.tag){ %>
                <a href="/tags/<%= tag.tag %>"><span class="label inverse"><%= tag.tag %></span></a>
                <% } %>
                <% }) %>
            </div>
            <div class="span3">
                <% if(user) {
                <% if(user.name === post.name) { %>
                <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/edit" style="text-decoration: none;">
                    <button class="default" type="button">Edit</button>
                </a>
                <button class="bg-color-red" type="button" onclick="confirmDelete()">Delete</button>
                <% }} %>
            </div>
        </div>
        <%-include comment%>
    </div>
</div>
<script type="text/javascript">
    function confirmDelete() {
        if (confirm("Do you really want to delete this post?\nThis operation cannot be recover.")) {
            window.location = "/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/delete";
        }
    }
</script>
<%-include footer%>