<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/themes/modern/stylesheets/modern.css"/>
    <link rel="stylesheet" href="/themes/modern/stylesheets/modern-responsive.css"/>
    <link rel="stylesheet" href="/themes/modern/stylesheets/theme-dark.css"/>
    <link rel="stylesheet" href="/themes/modern/stylesheets/highlight-vs.css"/>
    <link rel="stylesheet" href="/stylesheets/codemirror/codemirror.css"/>
    <script type="text/javascript" src="/themes/modern/javascripts/highlight.js"></script>
</head>
<body class="metrouicss" style="background-color: #1D1D1D;">
<div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <a href="/"><span class="element brand"><%= siteName %></span></a>
            <div class="divider"></div>
            <ul class="menu">
                <li><a href="/archive"><%= __('ARCHIVE') %></a></li>
                <li><a href="/tags"><%= __('TAGS') %></a></li>
                <li><a href="/rss">RSS</a></li>
            </ul>
            <ul class="menu place-right">
                <% if(!user) { %>
                <li><a href="/login"><%= __('LOGIN') %></a></li>
                <% if(allowReg) { %>
                <li><a href="/reg"><%= __('REGISTER') %></a></li>
                <% }} else { %>
                <li><a href="/me"><%= user.name %></a> &nbsp;</li>
                <li><a href="/post-new"><%= __('POST_NEW') %></a></li>
                <li><a href="/u/<%= user.name %>"><%= __('MY_POSTS') %></a></li>
                <li><a href="/logout"><%= __('LOGOUT') %></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<% if (locals.success) { %>
<div class="info-bar">
    <%= success %>
</div>
<% } %>
<% if (locals.error) { %>
<div class="error-bar">
    <%= error %>
</div>
<% } %>
