<%-include header%>
<div class="page secondary" style="width: 900px; margin: auto; padding-top: 20px;">
    <% posts.forEach(function(post, index) { %>
    <div class="page-region">
        <div class="image-container light place-left" style="margin-top: 30px; margin-left: 10px; height: 68px; width: 68px;">
            <a href="/u/<%= post.name %>">
                <img src="<%= post.avatar %>" />
            </a>
        </div>
        <div class="page-region-content">
            <div class="grid">
                <div class="page" style="width: 100%; background-color: #CBCCCC">
                    <div class="page-header" style="border-bottom: 1px #2D89EF solid; height: 50px;">
                        <div class="page-header-content" style="min-height: 50px; height: 50px;">
                            <a href="/post/<%= post._id %>">
                                <h2 style="left: 20px; padding-bottom: 5px; display: inline;"><%= post.title %></h2>
                            </a>
                        </div>
                        <div style="padding-left: 20px; padding-top: 5px;">
                            by <a href="/u/<%= post.name %>"><%= post.name %></a> | <%= __('VIEWS') %>: <%= post.views %>
                        </div>
                    </div>
                    <div class="page-region">
                        <div class="page-region-content" style="padding-top: 40px; padding-right: 20px; padding-left: 20px;">
                            <div>
                                <%- post.content %>
                            </div>
                            <div>
                                <% if(post.tags){ %>
                                <%= __('TAGS') %>
                                <% post.tags.forEach(function(tag, index){ %>
                                <% if(tag.tag){ %>
                                <a href="/tags/<%= tag.tag %>"><span class="label inverse"><%= tag.tag %></span></a>
                                <% } %>
                                <% }) }%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
    <%-include pagination%>
</div>
<%-include footer%>
