<%-include header%>
<div class="page" style="width: 900px; margin-top: 40px; margin-bottom: 40px; padding-left: 20px; padding-right: 20px; background-color: #CBCCCC;">
    <div class="page-header" style="border-bottom: 1px #2D89EF solid; padding-bottom: 20px;">
        <div class="page-header-content">
            <h1><%= user.name %></h1>
        </div>
    </div>
    <div class="page-region">
        <div class="page-region-content">
            <div>
                <form method="post">
                    <div class="input-control text span4">
                        <%= user.name %>
                    </div>
                    <div class="input-control text span4">
                        <%= __('USER_HELP_INFO') %>
                    </div>
                    <div class="input-control text span4">
                        <input type="text" id="email" name="username" value="<%= user.email %>">
                        <button class="btn-clear"></button>
                    </div>
                    <div class="input-control password span4">
                        <input type="password" id="password" name="password" placeholder="<%= __('CURRENT_PASSWORD') %>">
                        <button class="btn-reveal"></button>
                    </div>
                    <hr />
                    <div class="input-control password span4">
                        <input type="password" id="newpass" name="newpass" placeholder="<%= __('NEW_PASSWORD') %>">
                        <button class="btn-reveal"></button>
                    </div>
                    <div class="input-control password span4">
                        <input type="password" id="password-repeat" name="password-repeat" placeholder="<%= __('REPEAT_PASSWORD') %>">
                        <button class="btn-reveal"></button>
                    </div>
                    <div>
                        <input type="submit" value="<%= __('SAVE') %>" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%-include footer%>