<%-include header%>

<div class="page" style="width: 900px; margin-top: 40px; margin-bottom: 40px; padding-left: 20px; padding-right: 20px; background-color: #CBCCCC;">
    <div class="page-header" style="border-bottom: 1px #2D89EF solid; padding-bottom: 20px;">
        <div class="page-header-content">
            <h1><%= __('POST_NEW') %></h1>
        </div>
    </div>
    <div class="page-region">
        <div class="page-region-content">
            <div>
                <form name="post" method="post" onchange="window.onbeforeunload = confirmExit;">
                    <br />
                    <div class="input-control text span4">
                        <input type="text" name="title" placeholder="<%= __('POST_TITLE') %>"  />
                    </div>
                    <div class="input-control text span4">
                        <input type="text" name="tag" placeholder="<%= __('POST_TAGS') %>"/>
                    </div>
                    <p><%= __('MARKDOWN_SUPPORT') %>
                        (<a href="https://help.github.com/articles/github-flavored-markdown" target="_blank"><%= __('MARKDOWN_HELP') %></a>) </p>
                    <div class="input-control textarea">
                        <textarea name="post" id="post" style="display: none;"></textarea>
                        <div id="epiceditor" style="min-height: 350px; margin-bottom: 10px;"></div>
                    </div>
                    <br />
                    <input type="submit" value="Post" onclick="window.onbeforeunload = null;" />
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function confirmExit(){
        return "<%= __('CONFIRM_LEAVE') %>";
    }
</script>
<%-include footer%>