<%-include header%>
<div class="navbar navbar-inverse navbar-fixed-top" style="filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75;width:100%;display:block;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"><%= siteName %></a>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/archive"><%= __('ARCHIVE') %></a></li>
                    <li><a href="/tags"><%= __('TAGS') %></a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <% if(!user) { %>
                    <li><a href="/login"><%= __('LOGIN') %></a></li>
                    <% if(allowReg) { %>
                    <li><a href="/reg"><%= __('REGISTER') %></a></li>
                    <% }} else { %>
                    <li><p class="navbar-text"><%= __('WELCOME') %>,
                        <a class="navbar-link" href="/u/<%= user.name %>"><%= user.name %></a>. </p></li>
                    <li><a class="navbar-link" href="/post-new"><%= __('POST_NEW') %></a></li>
                    <li><a class="navbar-link" href="/me"><%= __('POST_NEW') %></a></li>
                    <li><a class="navbar-link" href="/logout"><%= __('LOGOUT') %></a></li>
                    <% } %>
                    <li><a class="navbar-link" href="/rss"><strong>RSS</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <% if (locals.success) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>
    <% if (locals.error) { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
    <% } %>
<div>
    <ul class="breadcrumb">
        <li><a href="/"><%= __('HOME') %></a> <span class="divider">/</span></li>
        <li><a href="/u/<%= post.name %>"><%= post.name %></a> <span class="divider">/</span></li>
        <li class="active"><%= post.title %></li>
    </ul>
</div>
<div>
    <fieldset>
        <div>
            <div class="row">
                <div class="span8">
                    <%= __('AUTHOR') %>: <a href="/u/<%= post.name %>"><%= post.name %></a> |
                    <%= __('DATE') %>: <%= post.time.minute %> |
                    <%= __('TAGS') %>:
                    <% post.tags.forEach(function(tag, index){ %>
                    <% if(tag.tag){ %>
                    <a href="/tags/<%= tag.tag %>"><span class="label label-info"><%= tag.tag %></span></a>
                    <% } %>
                    <% }) %>
                    | <%= __('VIEWS') %>: <span class="badge badge-important"><%= post.views %></span>
                </div>
                <div class="span2 pull-right">
                    <% if(user) { %>
                    <% if(user.name === post.name) { %>
                    <a href="/post/<%= post._id %>/edit" style="text-decoration: none;">
                        <button class="btn btn-small" type="button"><%= __('EDIT') %></button>
                    </a>
                    <form action="/post/<%= post._id %>/delete"
                          onsubmit="return confirm('You are about to delete this post.\n This operation cannot be undone.');"
                            method="post" style="display: inline;">
                        <button class="btn btn-danger btn-small" type="submit"><%= __('DELETE') %></button>
                    </form>
                    <% }} %>
                </div>
            </div>
            <hr />
            <div><%- post.content %></div>
        </div>
        <div>
            <%-include comment%>
        </div>
    </fieldset>
</div>
</div>
<%-include footer%>