<%-include header%>
<div class="navbar navbar-inverse navbar-fixed-top" style="filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75;width:100%;display:block;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"><%= siteName %></a>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/archive">Archive</a></li>
                    <li><a href="/tags">Tags</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a class="navbar-link" href="/login">Login</a></li>
                    <li class="active"><a class="navbar-link" href="/reg">Register</a></li>
                    <li><a class="navbar-link" href="/rss"><strong>RSS</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <% if (locals.success) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>
    <% if (locals.error) { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
    <% } %>
<div>
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active">Register</li>
    </ul>
</div>
<div>
    <form method="post" id="regForm">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="username" name="username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="email" name="email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" name="password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password-repeat">Repeat password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password-repeat" name="password-repeat">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </fieldset>
    </form>
</div>
</div>
<%-include footer%>