<%-include header%>
<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/"><%= siteName %></a>

        <ul>

            <li>
                <a href="/archive"><%= __('ARCHIVE') %></a>
            </li>

            <li>
                <a href="/tags"><%= __('TAGS') %></a>
            </li>

            <li>
                <a href="/rss">RSS</a>
            </li>

            <% if(!user) { %>
            <li class="menu-item-divided"><a href="/login"><%= __('LOGIN') %></a></li>
            <% if(allowReg) { %>
            <li><a href="/reg"><%= __('REGISTER') %></a></li>
            <% }} else { %>
            <li class="menu-item-divided">
                <br /><%= __('WELCOME') %>,<br />
                <a href="/me"><%= user.name %></a></li>
            <li><a href="/post-new"><%= __('POST_NEW') %></a></li>
            <li><a href="/u/<%= user.name %>"><%= __('MY_POSTS') %></a></li>
            <li><a href="/logout"><%= __('LOGOUT') %></a></li>
            <% } %>

        </ul>
    </div>
</div>
</div>

<% if (locals.success) { %>
<div class="yui3-alert yui3-alert-success" style="letter-spacing: 0;">
    <%= success %>
</div>
<% } %>
<% if (locals.error) { %>
<div class="yui3-alert yui3-alert-error" style="letter-spacing: 0;">
    <%= error %>
</div>
<% } %>

<div class="pure-u-1" id="main">
    <div class="hero">
        <h1 class="pure-u-1"><%= siteName %></h1>
        <h2 class="pure-u-3-4 l-centered"><%= tagLine %></h2>

    </div>

    <div class="marketing-ribbon">
        <div class="size-chart l-vbox pure-g">
            <div class="size-chart-item size-chart-grids pure-u" style="width: 16.6666%;">
                &nbsp;&nbsp;<br />&nbsp;<br />&nbsp;
            </div>
            <div class="size-chart-item size-chart-base pure-u" style="width: 16.6666%;">
                &nbsp;&nbsp;<br />&nbsp;<br />&nbsp;
            </div>

            <div class="size-chart-item size-chart-forms pure-u" style="width: 16.6666%;">
                &nbsp;&nbsp;<br />&nbsp;<br />&nbsp;
            </div>
            <div class="size-chart-item size-chart-menus pure-u" style="width: 16.6666%;">
                &nbsp;&nbsp;<br />&nbsp;<br />&nbsp;
            </div>
            <div class="size-chart-item size-chart-tables pure-u" style="width: 16.6666%;">
                &nbsp;&nbsp;<br />&nbsp;<br />&nbsp;
            </div>
            <div class="size-chart-item size-chart-buttons pure-u" style="width: 16.6666%;">
                &nbsp;&nbsp;<br />&nbsp;<br />&nbsp;
            </div>
        </div>

        <div class="content">
            <!-- A wrapper for all the blog posts -->
            <% posts.forEach(function(post, index) { %>
            <div class="posts">
                <h1 class="content-subhead"><%= post.time.day %>&nbsp;|&nbsp;
                    <% if(post.tags){ %>
                    <%= __('TAGS') %>
                    <% post.tags.forEach(function(tag, index){ %>
                    <% if(tag.tag){ %>
                    <a href="/tags/<%= tag.tag %>"><span class="yui3-badge-info"><%= tag.tag %></span></a>&nbsp;
                    <% } %>
                    <% }) }%>
                    &nbsp;|&nbsp;
                    <%= __('VIEWS') %> <span class="yui3-badge-success"><%= post.views %></span>
                </h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <img class="post-avatar" src="<%= post.avatar %>" height="64" width="64" alt="Avatar">

                        <h2 class="post-title"><a href="/post/<%= post._id %>" style="text-decoration: none;"><%= post.title %></a></h2>

                        <p class="post-meta">
                            by <a href="/u/<%= post.name %>" class="post-author"><%= post.name %></a>
                        </p>
                    </header>
                    <div class="post-description">
                        <%- post.content %>
                    </div>
                </section>
            </div>
            <% }) %>
            <%-include pagination%>
        </div>
<%-include footer%>