<%-include header%>

<div class="row">
    <% posts.forEach(function(post, index) { %>
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content" style="border-bottom: 1px solid #2BA6CB; margin-top: 20px; padding-bottom: 10px;">

        <article>
            <div class="row">
                <a class="th radius" href="/u/<%= post.name %>">
                    <img src="<%= post.avatar %>" width="64" height="64" />
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <h2 style="display: inline; vertical-align: middle;"><a href="/post/<%= post._id %>"><%= post.title %></a></h2>
            </div>
            <div class="row" style="margin-top: 10px;">
                <h6 style="display: inline;"><%= post.time.minute %> by <a href="/u/<%= post.name %>"><%= post.name %></a></h6>
                <% if(post.tags){ %>
                | <%= __('TAGS') %>
                <% post.tags.forEach(function(tag, index){ %>
                <% if(tag.tag){ %>
                <a href="/tags/<%= tag.tag %>"><span class="label"><%= tag.tag %></span></a>
                <% } %>
                <% }) }%>
                |
                <%= __('VIEWS') %> <span class="success label"><%= post.views %></span>
                <br /><br />
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <%- post.content %>
                </div>
            </div>
        </article>
    </div>
    <% }) %>
</div>
<%-include pagination%>
<%-include footer%>